<%= render 'shared/navbar' %>
<div class="home-banner">
    <h1>Travel the world <strong>in style</strong></h1>
    <p>RentArt</p>
</div>
<h1></h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- -->

